

.slide {
    transition: transform 20s ease;
    z-index: 0;
}

/* .slide-in {
    transition: ;
    transform: translateX(-200%);
} */

.slide-out {
    transition: transform 22s ease;
    transform: translateX(200%);
    z-index: 100;
}